@font-face {
    font-family: 'Arlon'; /*a name to be used later*/
    src: url('../fonts/Arlon/Arlon-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Arlon-Bold'; /*a name to be used later*/
    src: url('../fonts/Arlon/Arlon-Bold.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Arlon-Light'; /*a name to be used later*/
    src: url('../fonts/Arlon/Arlon-Light.otf'); /*URL to font*/
}

body {
    font-family: 'Arlon';
}

h1 {
    font-family: 'Arlon-Bold';
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Arlon-Bold';
}

h3 {
    font-family: 'Arlon-Bold';
}

p {
    color: #afafaf;
}



.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
    /* background-color: #ff4c68; */
    background-image: url("../images/pink-background.jpg");
    background-size: 550px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 0rem 6rem;
}

.navbar-brand {
    font-family: "Arlon-Bold";
    font-size: 2.5rem;
}

.navbar-brand img {
    width: 10vw;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Arlon-Light';
    font-weight: 300;
    font-size: 1.5rem;
}

/* Download Buttons */

.btn {
    border-radius:28px;
}

.download-btn {
    margin: 3% 1% 3% 1%;
    padding: 0.5rem 2rem;
    border: solid 1px rgb(41, 46, 51);
}

/* Title */

.carousel-item {
    padding: 4% 14% 10% 14%;
}

#title {
    font-family: 'Arlon-Bold';
    color: #fff;
    background-image: url("../images/pink-background.jpg");
    background-size: 550px;
    min-height: 60vh;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    z-index: 0;
}


/* Feature Page */

#features {
    padding: 7% 14%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68
}

/* Pricing Sectio */

#pricing {
    padding: 7% 15%;
    background-image: url("../images/pink-background.jpg");
    background-size: 550px;
}

#pricing p {
    color: #FFF;
}

#pricing h2 {
    color: #fff;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */

#cta {
    text-align: center;
    padding: 5% 20%;
}

.cta-header {
    font-size: 2.5rem;
}


/* Footer Section */

#footer {
    text-align: center;
    padding:4% 12% 1%;
}

.social-icons {
    font-size: 1.8rem;
    margin: 0 2% 2% 0;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        transform: rotate(0);
        position: static;
    }
}

.icon--twitter {
    color: #1DA1F2;
}

.icon--facebook {
    color: #4267B2;
}

.icon--instagram {
    color: #C13584;
}

.icon--email {
    color: #555555;
}

.icon--google-play {
    width: 25px;
}

.icon--platinium {
    width: 30px;
    margin-bottom: 8px;
    margin-left: 5px;
}

.icon--plus {
    width: 30px;
    margin-bottom: 8px;
    margin-left: 5px;
}

/* CONTACT PAGE */

#form__contact {
    margin: 5vw;
}

.form__header {
    padding-bottom: 2vw;
    padding-left: 1vw;
    font-family: 'Arlon';
}

.form__section {
    padding-bottom: 1.5vw;
}

.form__section label {
    color: #303030;
}

.btn--contact {
    margin-top: 2vw;
    margin-left: 1vw;
    padding: 0.5vw 5vw;
}

.form__warning {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.form__warning p {
    color: #303030;
}

.form__warning p a {
    color: #ff4c68;
}